<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx-后台管理系统</title>
  <link rel="stylesheet/less" href="/css/reset.less">
  <link rel="stylesheet/less" href="/css/common.less">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1110021_bv6rtxt80dt.css">
</head>
<body>

  <%- include('./common/header.ejs') %>

  <div class="lv-main">

    <%- include('./common/menu.ejs') %>

    <div class="lv-body">

      <!-- 工具栏 -->
      <div class="lv-toolbar">
        <div class="lv-toolbar-left">
          <button class="btn">新增用户</button>
          <button class="btn">新增用户</button>
        </div>
        <div class="lv-toolbar-right">
          <div class="lv-toolbar-search-box">
            <input type="text" placeholder="目前只支持搜索昵称" />
            <button>搜索</button>
          </div>
        </div>
      </div>

      <table>
          <% for (var i = 0; i < userList.length; i++) { %>
            <tr>
              <td><%= userList[i].username %></td>
              <td><%= userList[i].nickName %></td>
            </tr>
          <% } %>
      </table>

      <!-- 分页 -->
      <div class="lv-pagination right">
        <ul>
          <li class="lv-pagination__item prev"><a href="#"><i class="iconfont icon-doubleleft"></i></a></li>
          <li class="lv-pagination__item active"><a href="#">1</a></li>
          <li class="lv-pagination__item"><a href="#">2</a></li>
          <li class="lv-pagination__item"><a href="#">3</a></li>
          <li class="lv-pagination__item"><a href="#">4</a></li>
          <li class="lv-pagination__item"><a href="#">5</a></li>
          <li class="lv-pagination__item next"><a href="#"><i class="iconfont icon-doubleright"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- 是不推荐的，只能玩玩 -->
  <script src="/js/less.min.js"></script>
</body>
</html>
